body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
    text-align: center;
}

.navbar {
    background-color: black;
    margin-top: 20px;
}

.list {
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.5s;
}

.list:hover {
    color: rgb(83, 153, 223);
}