.form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: white;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1a1c1e;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #363738;
}